.pro-wrapper{
    padding: 50px;
    display: flex;
}

.pro-image-container{
    flex: 1;
}

.pro-image{
    width: 100%;
    height: 90vh;
}

.pro-info-container{
    flex: 1;
    padding: 0px 50px;
}

.pro-title{
    font-weight: 800;
}

.pro-desc{
    font-weight: 700;
    margin: 20px 0px;
}

.pro-price{
    font-weight: 700;
    font-size: 40px;
}

.pro-filter-container{
    width: 60%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.pro-filter{
    display: flex;
    align-items: center;
}

.pro-filter-title{
    font-size: 20px;
    font-weight: 600;
}

.pro-filter-colour{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}

.pro-filter-size{
    margin-left: 10px;
    padding: 5px;
    font-weight: 600;
}

.pro-add-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-amount-container{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.pro-amount{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.pro-button{
    padding: 15px;
    border: 2px solid teal;
    background-color:white;
    font-weight: 700;
    cursor: pointer;
    
}

.pro-button:hover{
    background-color: #f8f4f4;
}

